@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 1.2rem;
  background-color: violet;
  padding: 1rem 10rem;
  background-image: url("src/sun-tornado.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
}

.main__header {
  border-bottom: 2px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

.main__header h1 {
  font-size: 3rem;
  margin: 1rem auto;
}

.main__header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.main__header nav ul li button {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(116, 2, 104);
  transition: color, background-color 0.2s;
}

.main__header nav ul li button:hover {
  background-color: rgb(116, 2, 104);
  color: #fff;
}

.create__note__container {
  position: fixed;
  background-color: #ffffff82;
  inset: 0;
  z-index: 100;
  display: none;
  place-content: center;
  color: rgb(116, 2, 104);
  opacity: 1;
}

.note_card {
  background-color: #939393;
  padding: 1rem;
  border-radius: 0.5rem;
}

.note_card label {
  color: #000000;
  font-size: 1rem;
}

.note_card input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.note_card input:focus {
  outline: none;
}

.note_card button {
  padding: 0.5rem 3rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.note_card button:hover {
  background-color: cadetblue;
  color: #000000;
}

.delete__note__container {
  position: fixed;
  background-color: #ffffff82;
  inset: 0;
  z-index: 100;
  display: none;
  place-content: center;
  color: rgb(116, 2, 104);
  opacity: 1;
}

.notes__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.notes__container {
  width: 100%;
  height: 300px;
  background-color: #fff;
  color: rgb(116, 2, 104);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
  position: relative;
}

.note__body {
  height: 100%;
}

.note__body .note {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  font-family: "Lato";
}

.note__body .note:focus {
  outline: none;
  background-color: #ccc;
}

.save_note {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(116, 2, 104);
  color: #fff;
  transition: transform 0.2s;
}

.save_note:hover {
  transform: scale(1.1);
}

.close_note {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(116, 2, 104);
  color: #fff;
  transition: transform 0.2s;
}

.close_note:hover {
  transform: scale(1.1);
}
