@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(255, 240, 222);
  font-family: "Roboto";
  font-size: 1.1rem;
}

.app {
  max-width: 600px;
  margin: 6rem auto;
  border-radius: 1rem;
  box-shadow: 1px 1px 15px 0.2px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  background-color: aliceblue;
}

.form-add-task {
  width: 100%;
  position: relative;
  margin-top: 1rem;
}

.form-add-task input {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  transition-property: background-color;
  transition-duration: 0.2s;
  margin-bottom: 1rem;
}

.form-add-task input:focus {
  outline: none;
  border: none;
  background-color: #e9e8e8;
}

.form-add-task button {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 1rem;
  width: 20%;
  padding: 1rem 0.5rem;
  border-radius: 2rem;
  border: none;
  background-color: tomato;
}

.list {
  margin-top: 1rem;
  padding: 1rem;
  list-style: none;
}

.list li {
  background-color: #fffefe;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem auto;
}

.list li h3 {
  margin: 0.2rem auto;
}

.list li .task-info {
  display: flex;
  margin: 0.5rem auto;
  gap: 1rem;
}

.task {
  position: relative;
}

.task-info input {
  transform: scale(1.3);
  border-radius: 50%;
  background-color: tomato;
}

.task-info input:checked {
  background-color: tomato;
}

.task button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
}

.task button:hover {
  cursor: pointer;
}

.list .checked {
  text-decoration: line-through;
  background-color: rgba(149, 149, 149, 0.375);
}
